{% extends 'base.html.twig' %}

{% block title %}Symfony Certification Training session 1 - Forms{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1>Symfony Certification Training session 1 : Basic Form</h1>
            <div class="large-6 large-centered columns">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

