
{% extends 'base.html.twig' %}

{% block title %}Symfony Certification Training session 1 - Forms{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1>Symfony Certification Training session 1 : Forms</h1>
            <h3>Create a new Unicorn : </h3>
            <div class="large-6 large-centered columns">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div>
                    {{ form_label(form.color) }}
                    {{ form_errors(form.color) }}
                    {{ form_widget(form.color) }}
                </div>

                <div>
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                {{ form_rest(form) }}

                <div>
                    {{ form_widget(form.save) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

