{% extends 'base.html.twig' %}

{% block title %}Symfony Certification Training session 1 - Forms{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1>Symfony Certification Training session 1 : Basic Form</h1>
            Congratulation, you created a pink unicorn !

            <img src="{{ asset('bundles/certificationform/images/Unicorn/unicorn_success_pink.gif') }}">
        </div>
    </div>
{% endblock %}

