{% extends 'base.html.twig' %}

{% block title %}Symfony Certification Training session 1 - Forms{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-12 large-centered columns">
            <h1>Symfony Certification Training session 1 : Forms</h1>
            <ul>
                <li>
                    <a href="{{ path('certification_form_unicorn_create_basic') }}">Basic forms</a>
                </li>
                <li>
                    <a href="{{ path('certification_form_unicorn_create_advance') }}">Advance forms</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

